<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reader.social.mapper.SocCommentLikeMapper">
    
    <resultMap type="SocCommentLike" id="SocCommentLikeResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="commentId"    column="comment_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectSocCommentLikeVo">
        select id, user_id, comment_id, create_time, update_time, is_deleted from soc_comment_like
    </sql>

    <select id="selectSocCommentLikeList" parameterType="SocCommentLike" resultMap="SocCommentLikeResult">
        <include refid="selectSocCommentLikeVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="commentId != null "> and comment_id = #{commentId}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectSocCommentLikeById" parameterType="Long" resultMap="SocCommentLikeResult">
        <include refid="selectSocCommentLikeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSocCommentLike" parameterType="SocCommentLike" useGeneratedKeys="true" keyProperty="id">
        insert into soc_comment_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="commentId != null">comment_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="commentId != null">#{commentId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateSocCommentLike" parameterType="SocCommentLike">
        update soc_comment_like
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="commentId != null">comment_id = #{commentId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSocCommentLikeById" parameterType="Long">
        delete from soc_comment_like where id = #{id}
    </delete>

    <delete id="deleteSocCommentLikeByIds" parameterType="String">
        delete from soc_comment_like where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>